header {
  position: sticky;
  top: 0;
  height: 60px;
  background: #0b376b;
  display: flex;
  justify-content: center;

  & .container {
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
  }

  & h1 {
    margin: 0;

    & a {
      position: relative;
      display: inline-block;
      height: 30px;
      margin: 15px 0;

      & img {
        position: absolute;
        height: 30px;
      }
    }

    @media (min-width: 768px) {
      & a {
        height: 40px;
        margin: 10px 0;

        & img {
          height: 40px;
        }
      }
    }
  }
}
