.admin-template {
  display: flex;
  justify-content: center;
  flex-grow: 1;

  & .container {
    padding: 0 15px;
    max-width: 1200px;
    width: calc(100% - 30px);
  }

  .content-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;

    & .content {
      padding: 15px 0;

      & h1 {
        color: #0b376b;
        font-size: 36px;
        margin: 0 0 10px 0;

        @media (min-width: 768px) {
          font-size: 50px;
          margin: 10px 0 15px 0;
        }
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: 200px auto;

      & .navigation {
        display: flex;
      }

      & .content {
        padding: 30px 50px;
      }
    }
  }
}
