.auth-template {
  display: flex;
  justify-content: center;

  & .container {
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
  }

  & h1 {
    color: #0b376b;
    font-size: 36px;
    margin: 20px 0 20px 0;

    @media (min-width: 768px) {
      font-size: 50px;
      margin: 32px 0 32px 0;
    }
  }

  .content-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;

    & .form {
      height: 100%;
      order: 2;

      & p {
        font-size: 16px;
        margin-top: 15px;

        a {
          color: #2197f9;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    & .image-container {
      display: none;
      justify-content: center;
      order: 1;

      & img {
        width: 70%;
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: 35% 65%;

      & .form {
        order: 1;
      }

      & .image-container {
        display: flex;
        order: 2;
      }
    }
  }
}
