.form-label {
  display: block;
  font-family: var(--font-poppins) !important;
  font-size: 16px;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
}

.form-input {
  font-family: var(--font-poppins);
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #0b376b;
  padding: 14px;
  width: 100%;
  margin-bottom: 20px !important;
}

.form-error {
  color: #f00;
  margin-top: -15px;
}

.radio-button-wrapper {
  margin-bottom: 18px;

  & label {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;

    & input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked ~ .checkmark:after {
        display: block;
      }
    }

    & .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 1px solid #0b376b;
      border-radius: 50%;

      &:after {
        content: "";
        position: absolute;
        display: none;
        top: 4px;
        left: 4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #2197f9;
      }
    }

    & input:checked ~ .checkmark {
      border-color: #2197f9;
    }

    & + label {
      margin-left: 15px;
    }
  }
}

.ckeckbox-wrapper {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  & .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 5px;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 5px;
      height: 10px;
      border: solid #2197f9;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
