.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #fff;
  margin-top: 15px;

  @media (min-width: 768px) {
    margin-top: 80px;

    &.with-image {
      margin-top: 60px;
    }
  }

  & .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;

    & .title-container {
      display: flex;
      flex-direction: column;
      align-items: start;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: end;
      }

      .image {
        width: 100%;

        @media (min-width: 768px) {
          width: auto;
        }
      }

      & img {
        border: 1px solid #0b376b;
        height: auto;
        border-radius: 15px;
        width: 100%;
        margin-bottom: 15px;
        max-width: unset;

        @media (min-width: 768px) {
          width: 200px;
          margin-bottom: 0;
          margin-right: 15px;
          position: relative;
          top: -4px;
        }
      }
    }

    & h1 {
      color: #0b376b;
      font-size: 30px;
      line-height: 30px;
      font-weight: bold;
      margin: 0;

      @media (min-width: 768px) {
        font-size: 60px;
        line-height: 58px;
      }
    }

    & .breadcrumb {
      display: flex;
      row-gap: 3px;
      flex-wrap: wrap;
      list-style-type: none;
      padding: 0;
      margin-top: 15px;

      & .breadcrumb-item {
        margin-right: 5px;

        & .home {
          position: relative;
          top: 2px;
          height: 16px;

          path {
            fill: #2197f9;
          }
        }

        & .arrow {
          position: relative;
          top: 2px;
          height: 16px;
          margin-right: 5px;

          path {
            fill: #ccc;
          }
        }

        & .item {
          cursor: pointer;

          &.back {
            padding-right: 8px;
            margin-right: 5px;
            border-right: 2px solid #ccc;
          }
        }

        & .item:hover {
          color: #1a73e8;
          text-decoration: none;
        }

        &:hover .home path {
          fill: #1a73e8;
        }
      }
    }
  }
}
