.table-container {
  overflow-x: auto;

  & table {
    font-family: var(--font-poppins);
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    & thead {
      & tr {
        & th {
          background: #0b376b;
          color: #fff;
          font-weight: 400;
          font-size: 14px;
          padding: 11px 20px;
          text-align: left;

          &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }

          &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
    }

    & tbody {
      & tr {
        & td {
          border: 1px solid #000;
          padding: 0 10px;

          & .image-container {
            display: inline-block;
            background-color: #2197f9;
            padding: 5px 5px;
            margin: 4px 0;
            height: 42px;
            width: 52px;
            text-align: center;
            margin-right: 10px;

            & img {
              height: 30px;
            }
          }

          & .name {
            position: relative;
            top: -6px;
          }

          & .btn-link {
            padding: 5px 5px;
            line-height: 36px;

            & svg {
              position: relative;
              top: 6px;
            }

            & .btn-text {
              display: none;

              @media (min-width: 768px) {
                display: inline-block;
                margin-left: 5px;
              }
            }

            & + .btn-link {
              margin-left: 5px;

              @media (min-width: 768px) {
                margin-left: 10px;
              }
            }
          }

          &:first-child {
            border-left: 0;
          }

          &:last-child {
            border-right: 0;
          }
        }

        &:first-child td {
          border-top: 0;
        }

        &:last-child td {
          border-bottom: 0;
        }
      }
    }
  }
}
