.technology-card {
  display: flex;
  align-items: center;
  background: #2197f9;
  border-radius: 15px;
  text-decoration: none;
  padding: 15px 20px;

  @media (min-width: 768px) {
    justify-content: space-between;
  }

  & img,
  & svg {
    width: 50px;
    min-height: 60px;
    height: auto;

    @media (min-width: 768px) {
      width: 60px;
      min-height: 70px;
    }
  }

  & .technology-card-content {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    font-family: var(--font-poppins);

    @media (min-width: 768px) {
      margin-left: 0;
      text-align: right;
    }

    & > span {
      display: inline-block;
      font-size: 22px;
      line-height: 22px;
      color: #fff;

      &.small {
        font-size: 14px;
        line-height: 14px;
        margin-top: 4px;

        @media (min-width: 768px) {
          font-size: 14px;
          line-height: 14px;
        }

        & span {
          font-size: 16px;
          line-height: 16px;

          @media (min-width: 768px) {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
  }

  &:hover {
    background: #1a73e8;
  }
}
