.courses-list {
  margin-top: 20px;

  @media (min-width: 768px) {
    margin-top: 0;
  }

  & .item-link {
    display: block;
    color: #000;

    & .item {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 15px;

      & .image {
        position: relative;

        & img {
          border: 1px solid #0b376b;
          width: 100%;
          height: auto;
          border-radius: 15px;
        }
      }

      & .content {
        & h3 {
          font-size: 24px;
          line-height: 24px;
          margin: 10px 0 10px 0;
          color: #1f97f9;

          & svg {
            position: relative;
            font-size: 16px;
            top: 0px;
            color: #ccc;
            margin-left: 3px;
          }
        }

        & p {
          font-family: var(--font-poppins) !important;
          margin: 0 0 10px 0;
          font-size: 16px;
          line-height: 17px;
          font-weight: 400;
        }

        & .details {
          display: flex;
          flex-wrap: wrap;

          & .pricing-wrapper {
            display: flex;
            align-items: center;

            & .pricing {
              display: inline-block;
              margin-right: 18px;
              height: 24px;
              padding: 4px 10px;
              color: #fff;
              font-size: 12px;
              line-height: 16px;
              border-radius: 5px;

              &.pricing-free {
                background: #03e40c;
                margin-right: 13px;
              }

              &.pricing-one-time {
                background: #0b376b;
              }

              &.pricing-subscription {
                background: #9747ff;
              }
            }
          }

          & .detail {
            display: flex;
            align-items: center;
            margin-right: 15px;
            color: #636363;

            & .attribute {
              display: inline-block;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 1px;

              & svg {
                fill: #666;
                font-size: 20px;
              }
            }

            &.price {
              & .attribute {
                width: 22px;
                margin-right: 4px;

                & svg {
                  position: relative;
                  top: -1px;
                }
              }
            }

            &.year {
              & svg {
                position: relative;
                top: -2px;
              }
            }
          }
        }

        & .btn {
          margin-top: 10px;
        }
      }

      @media (min-width: 768px) {
        grid-template-columns: 215px 1fr;

        & .content {
          & h3 {
            margin: 0 0 10px 0;
          }
        }
      }
    }

    & + .item-link {
      margin-top: 25px;
      padding-top: 30px;
      border-top: 1px solid #ccc;
    }

    &:hover {
      text-decoration: none;

      & .item .content h3 {
        color: #1a73e8;
      }
    }
  }

  &.skeleton {
    & .item {
      & .image {
        & .react-loading-skeleton {
          position: relative;
          top: -3px;
        }
      }

      & .skeleton-btn {
        width: 132px;
        height: 42px;
        border-radius: 100px;
        margin-top: 5px;
      }
    }
  }
}
