.categories {
  width: 100%;

  & .categories-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      gap: 40px 30px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    & > .category {
      & h2 {
        color: #0b376b;
        font-weight: bold;
        font-size: 23px;
        line-height: 65px;
        margin: 0;

        @media (min-width: 768px) {
          font-size: 28px;
        }
      }

      & .technologies-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        @media (min-width: 768px) {
          grid-template-columns: 1fr;
          column-gap: 20px;
          row-gap: 20px;
        }

        & .item {
          display: flex;
          align-items: center;
          background: #2197f9;
          border-radius: 15px;
          text-decoration: none;
          padding: 25px 30px;

          & img,
          & svg {
            width: 70px;
            min-height: 80px;
            height: auto;

            @media (min-width: 768px) {
              width: 75px;
              min-height: 90px;
            }
          }

          & .content {
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            text-align: right;

            & > span {
              display: inline-block;
              font-size: 22px;
              color: #fff;

              &.small {
                font-size: 14px;
                margin-top: 2px;

                @media (min-width: 768px) {
                  font-size: 16px;
                }

                & span {
                  font-size: 14px;

                  @media (min-width: 768px) {
                    font-size: 16px;
                  }
                }
              }
            }
          }

          &:hover {
            background: #1a73e8;
          }
        }
      }
    }
  }
}
