.categories {
  width: 100%;

  & .categories-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      gap: 40px 30px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1300px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    & > .category {
      & .technologies-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;

        @media (min-width: 768px) {
          grid-template-columns: 1fr;
          column-gap: 20px;
          row-gap: 20px;
        }
      }
    }
  }
}
