.heading {
  display: flex;
  width: 100%;
  justify-content: center;
  background: #fff;
  position: sticky;
  top: 60px;
  z-index: 9999;

  & .container {
    display: flex;
    align-items: center;
    width: 100%;

    & img,
    & svg {
      width: auto;
      height: 50px;

      @media (min-width: 768px) {
        height: 70px;
      }

      path {
        fill: #0b376b;
      }
    }

    & h1 {
      color: #0b376b;
      font-size: 35px;
      font-weight: 700;
      margin-left: 20px;
      margin-top: 15px;
      margin-bottom: 15px;

      @media (min-width: 768px) {
        font-size: 60px;
        margin-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}