.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #fff;

  & .container {
    display: flex;
    align-items: center;
    width: 100%;

    & img,
    & svg {
      width: auto;
      height: 50px;

      @media (min-width: 768px) {
        height: 70px;
      }

      path {
        fill: #0b376b;
      }
    }

    & h1 {
      color: #0b376b;
      font-family: var(--font-poppins);
      font-size: 40px;
      font-weight: 600;
      margin: 20px 0;

      @media (min-width: 768px) {
        font-size: 60px;
        margin: 35px 0;
      }
    }
  }
}
