.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background: #fff;

  & .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 15px;
    max-width: 1200px;

    & img,
    & svg {
      width: auto;
      height: 50px;

      @media (min-width: 768px) {
        height: 70px;
      }

      path {
        fill: #0b376b;
      }
    }

    & h1 {
      color: #0b376b;
      font-size: 40px;
      font-weight: bold;
      margin: 20px 0 0;

      @media (min-width: 768px) {
        font-size: 60px;
        margin: 25px 0 0;
      }
    }

    & .breadcrumb {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin-top: 0;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #ccc;

      & .breadcrumb-item {
        margin-right: 5px;

        & .home {
          position: relative;
          top: 2px;
          height: 16px;

          path {
            fill: #2197f9;
          }
        }

        & .arrow {
          position: relative;
          top: 2px;
          height: 16px;
          margin-right: 5px;

          path {
            fill: #ccc;
          }
        }

        & .item:hover {
          color: #1a73e8;
          text-decoration: none;
        }

        &:hover .home path {
          fill: #1a73e8;
        }
      }
    }
  }
}
