.technology {
  display: flex;
  align-items: center;
  flex-direction: column;

  & .container {
    padding: 0 15px;
    max-width: 100%;
  }

  & .heading {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #2197f9;
    margin-bottom: 20px;

    & .container {
      display: flex;
      align-items: center;
      width: 100%;

      & img {
        height: 50px;

        @media (min-width: 768px) {
          height: 70px;
        }
      }

      & h1 {
        color: #fff;
        font-size: 35px;
        font-weight: 700;
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 15px;

        @media (min-width: 768px) {
          font-size: 60px;
          margin-left: 30px;
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
  }
}
