.technologies {
  display: flex;
  justify-content: center;

  & .container {
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
  }

  & h2 {
    color: #2197f9;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 44px;
      line-height: 65px;
    }
  }

  & .category {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.12);

    & + .category {
      margin-top: 20px;
    }

    h2 {
      text-align: left;
      margin: -5px 0 15px 0;
      line-height: 40px;
      color: #868687;
    }
  }

  & .technologies-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;

    & .item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background: #2197f9;
      border-radius: 5px;
      text-decoration: none;
      padding: 20px;

      & img {
        width: auto;
        height: 50px;
      }

      & span {
        display: inline-block;
        margin-top: 10px;
        font-size: 20px;
        color: #fff;

        &.small {
          font-size: 16px;
          margin-top: 2px;
        }
      }

      &:hover {
        background: #1a73e8;
      }
    }

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;

      & .technologies-list {
        column-gap: 60px;
        row-gap: 60px;
      }
    }
  }
}