.info-banner {
  & .content {
    padding: 10px 0;
    text-align: center;

    @media (min-width: 768px) {
      padding: 20px 0;
    }

    span {
      display: inline-block;
      font-size: 16px;
      color: #fff;

      @media (min-width: 768px) {
        font-size: 22px;
      }

      @media (min-width: 1200px) {
        font-size: 26px;
      }
    }
  }
}
