.free-content {
  & .content {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      padding: 50px 0;
      grid-template-columns: 55% 45%;
    }

    & .col-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      order: 2;

      @media (min-width: 768px) {
        padding-right: 30px;
      }

      & .title {
        display: block;
        font-size: 26px;
        line-height: 30px;
        font-weight: 700;
        color: #0b376b;
        margin-bottom: 15px;
        text-align: center;
      }

      & p {
        font-family: var(--font-poppins) !important;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        margin: 5px 0 20px 0;
        text-align: center;
      }

      @media (min-width: 768px) {
        order: 1;
        align-items: flex-start;

        & .title {
          font-size: 40px;
          line-height: 45px;
          text-align: left;
          margin-bottom: 5px;

          &.es {
            font-size: 40px;
          }
        }

        & p {
          margin: 5px 0 15px 0;
          font-size: 16px;
          text-align: left;
        }
      }
    }

    @media (min-width: 1024px) {
      & .title {
        font-size: 40px !important;
        line-height: 50px !important;
        margin-bottom: 15px;

        &.es {
          font-size: 40px !important;
        }
      }

      & p {
        font-size: 16px !important;
      }
    }

    & .col-image {
      display: flex;
      justify-content: center;
      padding: 15px;
      order: 1;
      text-align: center;

      & img {
        height: auto;
        width: 75%;
      }

      @media (min-width: 768px) {
        order: 2;
        text-align: left;

        & img {
          width: 100%;
        }
      }
    }
  }
}
