.hero-section {
  & .content {
    padding-top: 10px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 768px) {
      padding-top: 50px;
      padding-bottom: 50px;
      grid-template-columns: 55% 45%;
    }

    & .col-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      order: 2;

      @media (min-width: 768px) {
        padding-right: 30px;
      }

      & .title,
      .title2 {
        display: block;
        font-size: 30px;
        line-height: 30px;
        font-weight: 700;
        color: #0b376b;
        margin-bottom: 0;
        text-align: center;
      }

      & p {
        font-family: var(--font-poppins) !important;
        font-weight: 400;
        font-size: 18px;
        margin: 5px 0 20px 0;
        text-align: center;
      }

      .welcome-cta {
        margin-bottom: 20px;

        @media (min-width: 768px) {
          margin-bottom: 0;
        }
      }

      @media (min-width: 768px) {
        order: 1;
        align-items: flex-start;

        & .title,
        .title2 {
          font-size: 50px;
          line-height: 45px;
          text-align: left;
          margin-bottom: 5px;

          &.es {
            font-size: 44px;
          }
        }

        & p {
          margin: 5px 0 15px 0;
          font-size: 20px;
          text-align: left;
        }
      }
    }

    @media (min-width: 1024px) {
      & .title,
      .title2 {
        font-size: 65px !important;
        line-height: 50px !important;
        margin-bottom: 15px;

        &.es {
          font-size: 52px !important;
        }
      }

      & p {
        font-size: 24px !important;
      }
    }

    & .col-image {
      display: flex;
      justify-content: center;
      padding: 15px;
      order: 1;
      text-align: center;

      & img {
        height: auto;
        width: 75%;
      }

      @media (min-width: 768px) {
        order: 2;
        text-align: left;

        & img {
          position: relative;
          top: -20px;
          width: 100%;
        }
      }
    }
  }
}
