.filters {
  display: flex;

  & .item {
    & .options {
      @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: row;
        height: 38px;
      }

      & label {
        margin-bottom: 0;

        & + label {
          margin-top: 10px;

          @media (min-width: 768px) {
            margin-top: 0;
            margin-left: 20px;
          }
        }
      }
    }

    & + .item {
      margin-left: 40px;
    }
  }
}
