.technology {
  & .content-wrapper {
    & .courses-count {
      font-size: 18px;

      @media (min-width: 768px) {
      }
    }

    & > .courses {
      margin-top: 10px;
      padding-bottom: 20px;

      @media (min-width: 768px) {
        border-top: none;
        margin-top: 30px;
      }
    }
  }

  & .no-results {
    margin-top: 0;
    font-size: 18px;
  }
}
