.technology {
  display: flex;
  align-items: center;
  flex-direction: column;

  & .container {
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
  }

  & .content-wrapper {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 200px auto;
      column-gap: 20px;
    }

    & .left-column {
      display: flex;
      flex-direction: column;
      column-gap: 20px;
      row-gap: 20px;

      & .left-column-content {
        position: sticky;
        top: 182px;

        .courses-count {
          display: inline-block;
          margin-bottom: 5px;
          font-size: 22px;
          font-weight: bold;

          @media (min-width: 768px) {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  & .filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin-top: 15px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr;

      & .item+.item {
        margin-top: 10px;
      }
    }
  }

  & .no-results {
    margin-top: 0;
    font-size: 18px;
  }
}