.technology {
  display: flex;
  align-items: center;
  flex-direction: column;

  & .container {
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
  }

  & .content-wrapper {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 220px auto;
    }

    & .left-column {
      display: flex;
      flex-direction: column;
      column-gap: 20px;
      row-gap: 20px;

      @media (min-width: 768px) {
        padding-right: 30px;
      }

      & .left-column-content {
        position: sticky;
        top: 200px;

        .courses-count {
          display: inline-block;
          margin-bottom: 5px;
          font-family: var(--font-poppins);
          font-size: 16px;
          background: #f8f8f8;
          width: 100%;
          text-align: center;
          font-weight: normal;

          @media (min-width: 768px) {
            margin-bottom: 10px;
          }
        }
      }
    }

    &>.content {
      border-top: 1px solid #000;
      margin-top: 10px;

      @media (min-width: 768px) {
        border-top: none;
        margin-top: 0;
        padding-left: 30px;
        border-left: 1px solid #000;
      }
    }
  }

  & .filters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin-top: 15px;

    @media (min-width: 768px) {
      grid-template-columns: 1fr;

      & .item+.item {
        margin-top: 10px;
      }
    }
  }

  & .no-results {
    margin-top: 0;
    font-size: 18px;
  }
}