.info-banner {
  background: #add7ff;
  display: flex;
  justify-content: center;

  & .container {
    padding: 10px 15px;
    width: 100%;
    max-width: 1200px;
    text-align: center;

    @media (min-width: 768px) {
      padding: 20px 15px;
    }

    span {
      display: inline-block;
      font-size: 16px;
      color: #676767;

      @media (min-width: 768px) {
        font-size: 22px;
      }

      @media (min-width: 1200px) {
        font-size: 26px;
      }
    }
  }
}
