.language-selector {
  margin: 14px 0;

  a {
    display: inline-block;
    opacity: 0.5;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-left: 5px;

    @media (min-width: 768px) {
      font-size: 16px;
    }

    &.active {
      opacity: 1;
      cursor: default;
    }

    &:hover {
      opacity: 1;
    }
  }
}
