.forgot-password-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

  & .form {
    height: 100%;
    order: 2;

    & p {
      font-size: 16px;
    }
  }

  & .image-container {
    display: none;
    justify-content: center;
    order: 1;

    & img {
      width: 70%;
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: 35% 65%;

    & .form {
      order: 1;
    }

    & .image-container {
      display: flex;
      order: 2;
    }
  }
}
