.courses {
  & .filter-and-sorting {
    display: grid;
    grid-template-columns: 65% 35%;

    @media (min-width: 768px) {
      grid-template-columns: 230px 230px;
    }
  }

  & .courses-list {
    margin-top: 20px;

    @media (min-width: 768px) {
      margin-top: 40px;
    }

    & .item {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 15px;
      background: #f8f8f8;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.12);

      & .image {
        position: relative;

        & .label {
          position: absolute;
          top: 0px;
          left: 0px;
          border-radius: 5px;
          padding: 4px 10px;
          color: #fff;
          font-size: 14px;

          &.pricing-free {
            background: #03e40c;
          }

          &.pricing-one-time {
            background: #0b376b;
          }

          &.pricing-subscription {
            background: #9747ff;
          }
        }

        & img {
          width: 100%;
          border-radius: 5px;
        }
      }

      & .content {
        & h3 {
          font-size: 24px;
          line-height: 24px;
          margin: 10px 0 10px 0;
        }

        & p {
          font-family: var(--font-poppins) !important;
          margin: 0 0 10px 0;
          font-size: 16px;
          line-height: 17px;
          font-weight: 400;
        }

        & .details {
          & .detail {
            margin-right: 15px;
          }
        }

        & .btn {
          margin-top: 10px;
        }
      }

      & + .item {
        margin-top: 40px;
      }

      @media (min-width: 768px) {
        grid-template-columns: 215px 1fr;

        & .content {
          & h3 {
            margin: 0 0 10px 0;
          }
        }
      }
    }

    &.skeleton {
      & .item {
        & .image {
          & .react-loading-skeleton {
            position: relative;
            top: -3px;
          }
        }

        & .skeleton-btn {
          width: 132px;
          height: 42px;
          border-radius: 100px;
          margin-top: 5px;
        }
      }
    }
  }
}
