@import url("../../css/page-header.css");
@import url("../../css/buttons.css");
@import url("../../css/table.css");
@import url("../../css/slider.css");
@import url("../../css/forms.css");
@import url("../../css/radio-button.css");
@import url("../../css/breadcrumb.css");
@import url("../../css/auth-template.css");

/* Tailwind */
@import "tailwindcss";
@theme {
  --font-nunito: "Nunito", "Nunito Fallback";
  --font-poppins: "Poppins", "Poppins Fallback";
  --color-blue-300: #d7ebfe;
  --color-blue-500: #2197f9;
  --color-blue-600: #1a73e8;
  --color-blue-800: #0b376b;
  --color-blue-900: #03254c;
}

.wysiwyg-content {
  & p {
    line-height: 30px;
  }
}

/* WYSIWYG */
.wysiwyg-content h2 {
  font-size: 1.875rem;
  line-height: 1;
  color: #2197f9;
  font-weight: bold;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}
.wysiwyg-content h3 {
  color: #0b376b;
  font-weight: bold;
  font-size: 23px;
  line-height: 23px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 24px;
  }
}

/* Slider */
.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  display: flex !important;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-nunito);
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  font-family: var(--font-poppins);
}

img {
  display: inline-block;
}

svg {
  display: inline-block;
  vertical-align: unset;
}

.mb-15 {
  margin-bottom: 15px;
}
