@import url("../../css/buttons.css");
@import url("../../css/forms.css");
@import url("../../css/radio-button.css");

html {
  font-family: var(--font-nunito);
}

body {
  margin: 0;
}

a {
  color: #2197f9;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
